<breadcrumb></breadcrumb>


<div fxLayout="column" class="matero-col fill-view-limit">
    <div fxFlex="0 1 auto" class="matero-row">
        <div fxLayout="row wrap" class="matero-row">
            <div fxFlex="100%" fxFlex.gt-sm="50%" class="matero-col">
                <mat-card class="blue-team-background">
                    <mat-card-title>{{blueStats.squadName}}</mat-card-title>
                    <form #blueForm="ngForm" class="form-field-full">
                        <div fxLayout="row wrap" class="matero-row">
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Squad Settings
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copySquadSettings(blueStats, redStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field>
                                    <mat-label>Squad Name</mat-label>
                                    <input matInput [(ngModel)]="blueStats.squadName" (ngModelChange)="updateChart($event)" name="squadName" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Squad Size</mat-label>
                                    <input matInput type="number" min="1" step="1" [(ngModel)]="blueStats.squadSize" name="squadSize" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Attack Range</mat-label>
                                    <input matInput type="number" min="0" max="21" step="1" [(ngModel)]="blueStats.range" name="range" required>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Starting Tactic</mat-label>
                                    <mtx-select [items]="tactics | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.tactic1" name="tactic1" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Second Tactic</mat-label>
                                    <mtx-select [items]="tactics | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.tactic2" name="tactic2" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Switch to 2nd tactic on round...</mat-label>
                                    <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.switchRound" name="switchRound" required>
                                </mat-form-field>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Unit Stats
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copyUnitStats(blueStats, redStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Strength</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.strength" (ngModelChange)="updateChart($event)" name="strength" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Dexterity</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.dex" (ngModelChange)="updateChart($event)" name="dex" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Dodge</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.dodge" (ngModelChange)="updateChart($event)" name="dodge" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>PW Skill</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.pwSkill" (ngModelChange)="updateChart($event)" name="pwSkill" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>NPW Skill</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.npwSkill" (ngModelChange)="updateChart($event)" name="npwSkill" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Lightsaber</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="blueStats.lightSkill" (ngModelChange)="updateChart($event)" name="lightSkill" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="blueStats.force" (ngModelChange)="updateChart($event)" name="force">
                                            Force
                                        </mat-slide-toggle>
                                        <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="blueStats.isDroid" (ngModelChange)="updateChart($event)" (click)="clearBlueLife()" name="isDroid">
                                            Is Droid
                                        </mat-slide-toggle>
                                        <div *ngIf="blueStats.isDroid">
                                            <mat-form-field>
                                                <mat-label>Hull</mat-label>
                                                <input matInput type="number" min="1" step="1" [(ngModel)]="blueStats.hp" name="hp" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Deflectors</mat-label>
                                                <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.deflectors" name="deflectors" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Ionic</mat-label>
                                                <input matInput type="number" min="0"step="1" [(ngModel)]="blueStats.ionic" name="ionic" required>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="!blueStats.isDroid">
                                            <mat-form-field>
                                              <mat-label>HP</mat-label>
                                              <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.hp" name="hp">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Level</mat-label>
                                                <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.level" name="level" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>HP Mult</mat-label>
                                                <input matInput type="number" min="0" step="0.5" [(ngModel)]="blueStats.hpMult" name="hpMult" required>
                                            </mat-form-field>
                                        </div>
                                        <mat-form-field>
                                            <mat-label>Armor</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.armor" name="armor" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Primary Weapon
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copyPrimaryWeapon(blueStats, redStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field class="w-full">
                                    <mat-label>Weapon Class</mat-label>
                                    <mtx-select [items]="weaponClasses | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.primaryClass" (ngModelChange)="updateChart($event)" name="primaryClass" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Damage Type</mat-label>
                                    <mtx-select [items]="damageTypes | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.primaryType" (ngModelChange)="updateChart($event)" name="primaryType" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="blueStats.primaryDualWield" (ngModelChange)="updateChart($event)" name="primaryDualWield">
                                  Dual Wielding
                                </mat-slide-toggle>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Firepower</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryFirepower" name="primaryFirepower" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Min Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryMinDamage" (ngModelChange)="updateChart($event)" name="primaryMinDamage" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryMaxDamage" (ngModelChange)="updateChart($event)" name="primaryMaxDamage" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Opt. Range</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryOptRange" (ngModelChange)="updateChart($event)" name="primaryOptRange" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Drop</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryDropOff" (ngModelChange)="updateChart($event)" name="primaryDropOff" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Hits</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.primaryMaxHits" (ngModelChange)="updateChart($event)" name="primaryMaxHits" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Secondary Weapon
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copySecondaryWeapon(blueStats, redStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field class="w-full">
                                    <mat-label>Weapon Class</mat-label>
                                    <mtx-select [items]="weaponClasses | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.secondaryClass" (ngModelChange)="updateChart($event)" name="secondaryClass" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Damage Type</mat-label>
                                    <mtx-select [items]="damageTypes | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="blueStats.secondaryType" (ngModelChange)="updateChart($event)" name="secondaryType" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="blueStats.secondaryDualWield" (ngModelChange)="updateChart($event)" name="secondaryDualWield">
                                  Dual Wielding
                                </mat-slide-toggle>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Firepower</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryFirepower" name="secondaryFirepower" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Min Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryMinDamage" (ngModelChange)="updateChart($event)" name="secondaryMinDamage" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryMaxDamage" (ngModelChange)="updateChart($event)" name="secondaryMaxDamage" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Opt. Range</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryOptRange" (ngModelChange)="updateChart($event)" name="secondaryOptRange" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Drop</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryDropOff" (ngModelChange)="updateChart($event)" name="secondaryDropOff" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Hits</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="blueStats.secondaryMaxHits" (ngModelChange)="updateChart($event)" name="secondaryMaxHits" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </mat-card>
            </div>

            <div fxFlex="100%" fxFlex.gt-sm="50%" class="matero-col">
                <mat-card class="red-team-background">
                    <mat-card-title>{{redStats.squadName}}</mat-card-title>
                    <form #redForm="ngForm" class="form-field-full">
                        <div fxLayout="row wrap" class="matero-row">
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Squad Settings
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copySquadSettings(redStats, blueStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field>
                                    <mat-label>Squad Name</mat-label>
                                    <input matInput [(ngModel)]="redStats.squadName" (ngModelChange)="updateChart($event)" name="squadName" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Squad Size</mat-label>
                                    <input matInput type="number" min="1" step="1" [(ngModel)]="redStats.squadSize" name="squadSize" required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Attack Range</mat-label>
                                    <input matInput type="number" min="0" max="21" step="1" [(ngModel)]="redStats.range" name="range" required>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Starting Tactic</mat-label>
                                    <mtx-select [items]="tactics | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.tactic1" name="tactic1" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Second Tactic</mat-label>
                                    <mtx-select [items]="tactics | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.tactic2" name="tactic2" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Switch to 2nd tactic on round...</mat-label>
                                    <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.switchRound" name="switchRound" required>
                                </mat-form-field>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Unit Stats
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copyUnitStats(redStats, blueStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Strength</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.strength" (ngModelChange)="updateChart($event)" name="strength" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Dexterity</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.dex" name="dex" (ngModelChange)="updateChart($event)" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Dodge</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.dodge" (ngModelChange)="updateChart($event)" name="dodge" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>PW Skill</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.pwSkill" (ngModelChange)="updateChart($event)" name="pwSkill" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>NPW Skill</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.npwSkill" (ngModelChange)="updateChart($event)" name="npwSkill" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Lightsaber</mat-label>
                                            <input matInput type="number" min="0" max="5" step="1" [(ngModel)]="redStats.lightSkill" (ngModelChange)="updateChart($event)" name="lightSkill" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="redStats.force" (ngModelChange)="updateChart($event)" name="force">
                                            Force
                                        </mat-slide-toggle>
                                        <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="redStats.isDroid" (ngModelChange)="updateChart($event)" (click)="clearRedLife()" name="isDroid">
                                            Is Droid
                                        </mat-slide-toggle>
                                        <div *ngIf="redStats.isDroid">
                                            <mat-form-field>
                                                <mat-label>Hull</mat-label>
                                                <input matInput type="number" min="1" step="1" [(ngModel)]="redStats.hp" name="hp" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Deflectors</mat-label>
                                                <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.deflectors" name="deflectors" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Ionic</mat-label>
                                                <input matInput type="number" min="0"step="1" [(ngModel)]="redStats.ionic" name="ionic" required>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="!redStats.isDroid">
                                            <mat-form-field>
                                              <mat-label>HP</mat-label>
                                              <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.hp" name="hp">
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>Level</mat-label>
                                                <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.level" name="level" required>
                                            </mat-form-field>
                                            <mat-form-field>
                                                <mat-label>HP Mult</mat-label>
                                                <input matInput type="number" min="0" step="0.5" [(ngModel)]="redStats.hpMult" name="hpMult" required>
                                            </mat-form-field>
                                        </div>
                                        <mat-form-field>
                                            <mat-label>Armor</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.armor" name="armor" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Primary Weapon
                                    <button mat-icon-button>
                                        <mat-icon color="accent" (click)="copyPrimaryWeapon(redStats, blueStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field class="w-full">
                                    <mat-label>Weapon Class</mat-label>
                                    <mtx-select [items]="weaponClasses | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.primaryClass" (ngModelChange)="updateChart($event)" name="primaryClass" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Damage Type</mat-label>
                                    <mtx-select [items]="damageTypes | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.primaryType" (ngModelChange)="updateChart($event)" name="primaryType" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="redStats.primaryDualWield" (ngModelChange)="updateChart($event)" name="primaryDualWield">
                                  Dual Wielding
                                </mat-slide-toggle>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Firepower</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryFirepower" name="primaryFirepower" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Min Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryMinDamage" (ngModelChange)="updateChart($event)" name="primaryMinDamage" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryMaxDamage" (ngModelChange)="updateChart($event)" name="primaryMaxDamage" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Opt. Range</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryOptRange" (ngModelChange)="updateChart($event)" name="primaryOptRange" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Drop</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryDropOff" (ngModelChange)="updateChart($event)" name="primaryDropOff" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Hits</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.primaryMaxHits" (ngModelChange)="updateChart($event)" name="primaryMaxHits" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                            <section fxFlex="100%" fxFlex.gt-sm="25%" class="matero-col">
                                <h3>Secondary Weapon
                                    <button mat-icon-button>
                                        <mat-icon color="accent"(click)="copySecondaryWeapon(redStats, blueStats)">file_copy</mat-icon>
                                    </button>
                                </h3>
                                <mat-form-field class="w-full">
                                    <mat-label>Weapon Class</mat-label>
                                    <mtx-select [items]="weaponClasses | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.secondaryClass" (ngModelChange)="updateChart($event)" name="secondaryClass" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Damage Type</mat-label>
                                    <mtx-select [items]="damageTypes | keyvalue" bindLabel="value" bindValue="value" [(ngModel)]="redStats.secondaryType" (ngModelChange)="updateChart($event)" name="secondaryType" required>
                                    </mtx-select>
                                </mat-form-field>
                                <mat-slide-toggle class="form-manual-spacing" [(ngModel)]="redStats.secondaryDualWield" (ngModelChange)="updateChart($event)" name="secondaryDualWield">
                                  Dual Wielding
                                </mat-slide-toggle>
                                <div fxLayout="row wrap" class="matero-row">
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Firepower</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryFirepower" name="secondaryFirepower" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Min Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryMinDamage" (ngModelChange)="updateChart($event)" name="secondaryMinDamage" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Damage</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryMaxDamage" (ngModelChange)="updateChart($event)" name="secondaryMaxDamage" required>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%" class="matero-col">
                                        <mat-form-field>
                                            <mat-label>Opt. Range</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryOptRange" (ngModelChange)="updateChart($event)" name="secondaryOptRange" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Drop</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryDropOff" (ngModelChange)="updateChart($event)" name="secondaryDropOff" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Max Hits</mat-label>
                                            <input matInput type="number" min="0" step="1" [(ngModel)]="redStats.secondaryMaxHits" (ngModelChange)="updateChart($event)" name="secondaryMaxHits" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex="1 1 auto" class="matero-row apex-chart">
        <div fxLayout="row wrap" class="matero-row h-full">
            <div fxFlex="100%" fxFlex.gt-sm="50%" class="matero-col h-full">
                <mat-card class="h-full">
                    <section fxLayout="column" class="h-full">
                        <mat-card-subtitle fxFlex="0 1 auto">Average Base Damage vs Range</mat-card-subtitle>
                        <div fxFlex="1 1 auto">
                            <div id="damageRangeChart" class="h-full"></div>
                        </div>
                    </section>
                </mat-card>
            </div>
            <div fxFlex="100%" fxFlex.gt-sm="50%" class="matero-col">
                <mat-card>
                    <div fxLayout="row wrap" class="matero-row m-b-16">
                        <section fxFlex="100%" fxFlex.gt-sm="49%" class="matero-col">
                            <h3>{{blueResult.squadName}}</h3>
                            <table class="spaced-out blue-team">
                                <tr>
                                    <td class="header-cell">Battles Won</td>
                                    <td>{{blueResult.victories}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Win Percentage</td>
                                    <td>{{blueResult.percentage}}%</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Units Left per Win</td>
                                    <td>{{blueResult.unitsLeft}} of {{blueResult.totalUnits}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Rounds to Win</td>
                                    <td>{{blueResult.roundsTaken}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit HP Left per Win</td>
                                    <td>{{blueResult.hpLeft}} of {{blueResult.maxHP}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit Shields Left per Win</td>
                                    <td>{{blueResult.shieldsLeft}} of {{blueResult.maxShields}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit Ionic Left per Win</td>
                                    <td>{{blueResult.ionicLeft}} of {{blueResult.maxIonic}}</td>
                                </tr>
                            </table>
                        </section>
                        <mat-divider [vertical]="true"></mat-divider>
                        <section fxFlex="100%" fxFlex.gt-sm="49%" class="matero-col">
                            <h3>{{redResult.squadName}}</h3>
                            <table class="spaced-out red-team">
                                <tr>
                                    <td class="header-cell">Battles Won</td>
                                    <td>{{redResult.victories}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Win Percentage</td>
                                    <td>{{redResult.percentage}}%</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Units Left per Win</td>
                                    <td>{{redResult.unitsLeft}} of {{redResult.totalUnits}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Rounds to Win</td>
                                    <td>{{redResult.roundsTaken}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit HP Left per Win</td>
                                    <td>{{redResult.hpLeft}} of {{redResult.maxHP}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit Shields Left per Win</td>
                                    <td>{{redResult.shieldsLeft}} of {{redResult.maxShields}}</td>
                                </tr>
                                <tr>
                                    <td class="header-cell">Average Unit Ionic Left per Win</td>
                                    <td>{{redResult.ionicLeft}} of {{redResult.maxIonic}}</td>
                                </tr>
                            </table>
                        </section>
                    </div>
                    <div class="anchor"><mat-divider></mat-divider></div>
                    <section fxLayout="row wrap" class="matero-row p-t-16">
                        <table fxFlex="50%" class="matero-col spaced-out">
                            <tr>
                                <td>Number of Battles</td>
                                <td><input matInput type="number" min="1" step="1" [(ngModel)]="simulation.battles" required></td>
                            </tr>
                            <tr>
                                <td>Ties</td><td>{{simulation.ties}}</td>
                            </tr>
                        </table>
                        <div fxFlex="50%" class="matero-col flex-center">
                            <button mat-raised-button color="primary" [disabled]="!blueForm.form.valid || !redForm.form.valid" (click)="simulationTrigger()">Simulate</button>
                        </div>
                    </section>
                </mat-card>
            </div>
        </div>
    </div>

</div>
